version: '3.9'
services:
  order:
    build:
      context: .
      dockerfile: Dockerfile.order
    ports:
      - "8088:8088"
    environment:
      - PORT=:8088
      - ELASTIC_APM_SERVER_URL=${ELASTIC_APM_SERVER_URL}
      - ELASTIC_APM_SECRET_TOKEN=${ELASTIC_APM_SECRET_TOKEN}
      - ELASTIC_APM_SERVICE_NAME=order-service
      - ELASTIC_APM_ENVIRONMENT=tracing-test
      - ELASTIC_APM_LOG_FILE=stdout
      - ELASTIC_APM_LOG_LEVEL=debug
      - PAYMENT_URL=http://payment:8089
      - KAFKA_TOPIC=order-topic
      - KAFKA_BROKER_URL=kafka:29092
    depends_on:
      - kafka

  payment:
    build:
      context: .
      dockerfile: Dockerfile.payment
    ports:
      - "8089:8089"
    environment:
      - PORT=:8089
      - ELASTIC_APM_SERVER_URL=${ELASTIC_APM_SERVER_URL}
      - ELASTIC_APM_SECRET_TOKEN=${ELASTIC_APM_SECRET_TOKEN}
      - ELASTIC_APM_SERVICE_NAME=payment-service
      - ELASTIC_APM_ENVIRONMENT=tracing-test
      - ELASTIC_APM_LOG_FILE=stdout
      - ELASTIC_APM_LOG_LEVEL=debug
      - KAFKA_TOPIC=order-topic
      - KAFKA_PAYMENT_TOPIC=payment-topic
      - KAFKA_BROKER_URL=kafka:29092
    depends_on:
      - order

  kafka:
    container_name: kafka
    image: confluentinc/cp-kafka
    hostname: kafka
    ports:
      - '9092:9092'
      - '29092:29092'
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_HOST://kafka:29092
      LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper

  zookeeper:
    container_name: zookeeper
    image: zookeeper
    ports:
      - '2181:2181'

  kafka-ui:
    image: provectuslabs/kafka-ui
    container_name: kafka-ui
    ports:
      - 8080:8080
    depends_on:
      - kafka
    environment:
      - KAFKA_CLUSTERS_0_NAME=local
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:29092

  notification:
    build:
      context: .
      dockerfile: Dockerfile.notification
    environment:
      - ELASTIC_APM_SERVER_URL=${ELASTIC_APM_SERVER_URL}
      - ELASTIC_APM_SECRET_TOKEN=${ELASTIC_APM_SECRET_TOKEN}
      - ELASTIC_APM_SERVICE_NAME=notification-service
      - ELASTIC_APM_ENVIRONMENT=tracing-test
      - ELASTIC_APM_LOG_FILE=stdout
      - ELASTIC_APM_LOG_LEVEL=debug
      - KAFKA_TOPIC=payment-topic
      - KAFKA_BROKER_URL=kafka:29092
    depends_on:
      - kafka

  report:
    build:
      context: .
      dockerfile: Dockerfile.report
    environment:
      - ELASTIC_APM_SERVER_URL=${ELASTIC_APM_SERVER_URL}
      - ELASTIC_APM_SECRET_TOKEN=${ELASTIC_APM_SECRET_TOKEN}
      - ELASTIC_APM_SERVICE_NAME=report-service
      - ELASTIC_APM_ENVIRONMENT=tracing-test
      - ELASTIC_APM_LOG_FILE=stdout
      - ELASTIC_APM_LOG_LEVEL=debug
      - KAFKA_TOPIC=payment-topic
      - KAFKA_BROKER_URL=kafka:29092
    depends_on:
      - kafka
